.features {
  display: flex;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.cardIconRow {
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: var(--ifm-card-vertical-spacing);
}




.caption {
  color: var(--text-caption-color)
}

a.linkedCard:hover {
  text-decoration: none;
}

.tag {
  font-size: var(--caption-font-size);
  background-color: var(--background-card-color);
  border-radius: var(--border-radius);
  padding: 2px 10px;
  display: flex;
  align-items: baseline;
}