.subtitle {
  font-size: var(--h3-font-size);
  color: var(--text-caption-color);
}

.header {
  text-align: center;

}

.featureHeader {
  height: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: var(--ifm-card-vertical-spacing);
}

.advantageHeader {
  height: 100%;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--text-caption-color);
  margin-bottom: var(--ifm-card-vertical-spacing);
}

.advantageIcon {
  height: 32px;
  width: 32px;
  padding-right: 10px;
}

.cardBody {
  font-size: var(--body1-font-size);
  color: var(--text-caption-color)
}

.featureArrowIcon {
  color: var(--text-caption-color)
}

.featureIcon {
  color: var(--text-body-color)
}

.tag {
  font-size: var(--caption-font-size);
  background-color: var(--background-card-color);
  border-radius: var(--border-radius);
  padding: 2px 10px;
  display: flex;
  align-items: baseline;
}

.resourceContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--card-padding)
}

.resourceIcon {
  height: 2rem;
  width: 2rem;
  display: flex;
  align-items: center;
  color: var(--text-caption-color)
}


.resource h4 {
  margin-bottom: 0.25rem;
}

.resource p {
  margin-bottom: 0rem;
}

.product {
  position: relative;
  border: 1px solid var(--divider-color);
  border-radius: var(--border-radius);
}

.product>img {
  margin-top: 0px !important;
}

.productArrowIcon {
  height: var(--ifm-font-size-base);
  width: var(--ifm-font-size-base);
  position: absolute;
  top: 5px;
  right: 5px;
}