/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
html[data-theme='dark'] {
  --primary-color: rgba(255, 255, 255, 0.95);
  --primary-background-color: rgba(255, 255, 255, 0.1);
  --primary-background-color-light: rgba(255, 255, 255, 0.05);
  --secondary-color: #7C5BFF;
  --text-body-color: rgba(255, 255, 255, 0.95);
  --text-caption-color: rgba(255, 255, 255, 0.60);
  --text-disabled-color: rgba(255, 255, 255, 0.40);
  --text-button-primary-color: rgba(21, 13, 53, 0.95);
  --background-color: #131221;
  --background-card-color: rgba(255, 255, 255, 0.05);
  --divider-color: rgba(255, 255, 255, 0.05);
  --divider-color-dark: rgba(255, 255, 255, 0.20);
  --border-radius: 5px;
  --body1-font-size: 16px;
  --body2-font-size: 14px;
  --caption-font-size: 12px;
  --h1-font-size: 32px;
  --h2-font-size: 24px;
  --h3-font-size: 20px;
  --h4-font-size: 16px;
  --font-family: "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  --heading-font-wt: 500;
  --padding: 20px;
  --max-width: 1100px;
  --navbar-height: 70px;
  --ifm-breadcrumb-padding-horizontal: 0rem;

  --ifm-navbar-height: var(--navbar-height);
  --ifm-color-primary: var(--primary-color);
  --ifm-font-size-base: var(--body1-font-size);
  --ifm-font-family-base: var(--font-family);
  --ifm-global-radius: var(--border-radius);
  --ifm-background-color: var(--background-color);
  --ifm-background-surface-color: var(--background-card-color);
  --ifm-button-background-color: var(--primary-color);
  --ifm-footer-background-color: var(--background-color);
  --ifm-color-content: var(--text-body-color);
  --ifm-toc-border-color: var(--divider-color);
  --ifm-font-weight-bold: var(--heading-font-wt);
  --ifm-h1-font-size: var(--h1-font-size);
  --ifm-h2-font-size: var(--h2-font-size);
  --ifm-h3-font-size: var(--h3-font-size);
  --ifm-h4-font-size: var(--h4-font-size);
  --ifm-heading-color: var(--text-body-color);
  /* --ifm-card-horizontal-spacing: var(--padding); */
  /* --ifm-card-vertical-spacing: var(--padding);
  --ifm-spacing-horizontal: 10px;
  --ifm-spacing-vertical: 20px; */

  --ifm-card-border-radius: var(--border-radius);
  --ifm-container-width-xl: var(--max-width);
  --ifm-container-width: var(--max-width);
  --ifm-navbar-background-color: var(--ifm-background-color);
  --ifm-button-border-color: var(--divider-color);
  --ifm-hr-background-color: var(--divider-color);
  --ifm-menu-color: var(--text-caption-color);
  --ifm-menu-link-sublist-icon: url("data:image/svg+xml;utf8,<svg viewBox=\"0 0 8 8\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M4.77934 4.00424L1.87361 1.09851C1.74368 0.968578 1.67871 0.817976 1.67871 0.646703C1.67871 0.47543 1.74368 0.324828 1.87361 0.194897C2.00354 0.0649656 2.15414 0 2.32541 0C2.49669 0 2.6493 0.0669741 2.78324 0.200921L6.14362 3.56129C6.20268 3.62508 6.24697 3.69418 6.2765 3.76859C6.30603 3.84301 6.3208 3.92274 6.3208 4.00779C6.3208 4.09283 6.30603 4.17256 6.2765 4.24698C6.24697 4.32139 6.20268 4.38813 6.14362 4.44719L2.78324 7.80756C2.6493 7.94151 2.49964 8.00553 2.33427 7.99963C2.16891 7.99372 2.02126 7.9258 1.89133 7.79587C1.76139 7.66594 1.69643 7.51534 1.69643 7.34406C1.69643 7.17279 1.76139 7.02219 1.89133 6.89226L4.77934 4.00424Z\" fill=\"white\" opacity=\"0.6\"/></svg>");
  --ifm-breadcrumb-separator: url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 -800 800 800\" fill=\"white\" opacity=\"0.6\"><path d=\"M593.23-480 291.92-781.31q-11.92-11.92-11.61-28.38.31-16.46 12.23-28.39Q304.46-850 320.92-850t28.39 11.92l306.23 306.85q10.84 10.85 16.07 24.31 5.24 13.46 5.24 26.92t-5.24 26.92q-5.23 13.46-16.07 24.31L348.69-121.92q-11.92 11.92-28.07 11.61-16.16-.31-28.08-12.23-11.92-11.92-11.92-28.38t11.92-28.39L593.23-480Z\"/></svg>");

}

.padding-top--md {
  padding-top: 2rem !important;
}

.DocSearch-Button {
  margin-left: auto !important;
  margin-right: auto !important;
}

.DocSearch-Button .DocSearch-Search-Icon {
  color: var(--text-caption-color) !important;
}

/* 
.markdown {
  --ifm-h1-vertical-rhythm-top: 1.5;
  --ifm-h2-vertical-rhythm-top: 0.5;
  --ifm-h3-vertical-rhythm-top: 0.25;
  --ifm-heading-vertical-rhythm-top: 1;
  --ifm-h1-vertical-rhythm-bottom: 1;
  --ifm-heading-vertical-rhythm-bottom: 0.5;
} */

.markdown img {
  margin-top: calc(var(--ifm-heading-vertical-rhythm-top)* var(--ifm-leading));
  max-height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

/* @media (min-width: 997px) {
  .docs-doc-id-index .docItemCol_node_modules-\@docusaurus-theme-classic-lib-theme-DocItem-Layout-styles-module {
    max-width: 100% !important;
  }
} */

@media (min-width: 997px) {
  :root {
    --doc-sidebar-width: 250px !important;

  }

}

html[data-theme='dark'] li::marker {
  color: var(--text-caption-color);
  font-weight: var(--ifm-font-weight-bold);
}

html[data-theme='dark'] .menu__caret {
  color: var(--text-caption-color);
}

/* 
.menu__link--sublist-caret:after {
  background: var(--ifm-menu-link-sublist-icon) 50% / 0.75rem 0.75rem no-repeat;

}



.menu__link--sublist-caret:after {
  transform: rotate(-90deg);


} */

.menu__link--sublist-caret:after,
.menu__caret:before {
  transform: rotate(-90deg);


}

.menu__list-item--collapsed .menu__link--sublist:after,
.menu__list-item--collapsed .menu__caret:after {
  transform: rotateZ(90deg);
}

html[data-theme='dark'] .menu__caret:before,
html[data-theme='dark'] .menu__link--sublist-caret:after {
  background: var(--ifm-menu-link-sublist-icon) 50% / 0.75rem 0.75rem no-repeat;
  filter: none !important;

}


/* 
.menu__caret:before {
  transform: rotateZ(90deg);
}

.menu__caret:after {
  transform: rotate(-180deg);
 */
/* 
} */

.body2 {
  font-size: var(--body2-font-size);
}

.pagination-nav__link {
  border: 1px solid var(--divider-color);
}

.footer__title {
  font-weight: var(--heading-font-wt);
  color: var(--text-caption-color);

}

html[data-theme='dark'] .footer--dark {
  --ifm-footer-background-color: var(--background-color);
  border-top: 2px solid var(--divider-color);

}

.navbar__logo {
  height: 1.5rem;
}


.card {
  border: 1px solid var(--divider-color);
}

a>.card:hover {
  border: 1px solid var(--divider-color-dark)
}



.card.disabled,
.card.disabled h3 {
  color: var(--text-disabled-color) !important;


}

.tb_col--200px {
  width: 200px;
}

.markdown h1:first-child {
  --ifm-h1-font-size: 2.5rem;
  margin-top: 1rem;
}

.markdown h2 {
  --ifm-h2-font-size: var(--h2-font-size);
}

.color-caption {
  color: var(--text-caption-color)
}

ul.breadcrumbs>*>* {
  background-color: transparent !important;
}

.markdown h3 {
  --ifm-h3-font-size: var(--h3-font-size);
}

.markdown h4 {
  --ifm-h4-font-size: var(--h4-font-size);
}

.navbar {
  border-bottom: 1px solid var(--divider-color);
}

.button--outline.button--primary {
  border-color: var(--divider-color);
}

html[data-theme='dark'] .button--feedback {
  color: var(--text-caption-color);
}

.menu {
  padding: 1.5rem 1rem !important;
}

.menu__link {
  font-size: var(--body2-font-size);
  font-weight: 400;
}

/* 
  --ifm-container-width
--ifm-global-border-width
--ifm-global-radius
--ifm-global-spacing
--ifm-leading
--ifm-leading-desktop
--ifm-pre-line-height
--ifm-pre-padding
--ifm-spacing-horizontal
--ifm-transition-fast
--ifm-transition-timing-default
--ifm-z-index-fixed

--ifm-color-black
--ifm-color-white

--ifm-color-primary
--ifm-color-primary-dark
--ifm-color-primary-darker
--ifm-color-primary-darkest
--ifm-color-primary-light
--ifm-color-primary-lighter
--ifm-color-primary-lightest
--ifm-color-secondary
--ifm-color-secondary-darkest
--ifm-color-secondary-lighter */



/* --ifm-color-emphasis-100
--ifm-color-emphasis-200
--ifm-color-emphasis-400
--ifm-color-emphasis-600
--ifm-color-emphasis-900

--ifm-toc-link-color

--ifm-font-size-base
--ifm-font-weight-bold
--ifm-h2-font-size
--ifm-h3-font-size
--ifm-code-font-size

--ifm-navbar-padding-horizontal */
/* --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1); */


/* For readability concerns, you should choose a lighter palette in dark mode. */
/* [data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
} */

b {
  font-weight: 500;
}