.outlinedCard {
    background-color: transparent;
    border: 1px solid var(--divider-color);
}

.resourceCardContent {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.resourceCardIcon1 {
    height: 3rem;
    margin-right: var(--padding);
}

.resourceCardIcon {
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
    /* margin-bottom: calc(var(--padding)); */
    display: flex;
    align-items: center;
    /* background-color: var(--background-card-color); */
    color: var(--text-caption-color);
}

.resourcesContainer {
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    gap: 1rem;
}

.resourcesContainer> :nth-child(2) {
    padding-bottom: 1rem;
}

.resourceCardContent h4 {
    margin-bottom: 0.25rem;
}

.resourceCardContent p {
    margin-bottom: 0rem;
}

a.linkedCard:hover {
    text-decoration: none;
}